<!-- <header class="main-header">
  <a class="logo">
    <span class = "logo-mini"><b>C<i class = "fa fa-bolt"></i>S</b> </span>
    <span class="logo-lg"><b>Constru<i class = "fa fa-bolt"></i>shop</b> </span>
  </a>

  <nav class = "navbar navbar-static-top">
    <a href class = 'sidebar-toggle' data-toggle="offcanvas"></a>
  </nav>
  
</header> -->


<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand"><b>Constru<i class="fa fa-bolt"></i>shop</b> </a>
      </div>
    </div>

  </nav>
</header>